@import "./variables.scss";
@import "./nullstyle.scss";

html,
body {
    min-height: 100%;
}

#root {
    height: 100%;
    padding: 40px;
    background: $light-blue;
}

.main-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 24px;
}

main {
    flex: 1 1 auto;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    padding: 24px;
    border-bottom: 1px solid $light-gray;
}

.header-body {
    display: flex;
    justify-content: space-between;
}

.product-item-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    padding-top: 30px;
}

.product-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(33% - 30px);
    padding: 25px;
    border: 1px solid $light-gray;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;

    &:hover {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);

        .product-item-image img {
            transform: scale(1.05);
        }
    }
}

.product-item-image {
    overflow: hidden;

    img {
        transition: all 0.3s ease-in-out;
    }
}

.product-item-title,
.cart-product-title {
    font-size: 15px;
    line-height: 20px;
    color: $black;
    margin-top: 8px;
}

.product-item-description,
.cart-product-description {
    font-size: 13px;
    line-height: 20px;
    color: $black;
    margin-top: 12px;
}

.product-item-price,
.cart-product-price {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
    margin-top: 8px;

    svg {
        margin-left: 2px;
        width: 16px;
        height: 16px;
    }
}

.product-item-button {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

button {
    padding: 8px 24px;
    border-radius: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $white;
    background: $blue;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;

    &:hover {
        background: $white;
        color: $blue;
        border: 1px solid $blue;
    }

    &:active {
        transform: translateY(2px);
    }
}

.header-cart a {
    display: block;
    position: relative;

    svg path {
        fill: $dark;
    }

    .count {
        position: absolute;
        top: -30%;
        right: -30%;
        width: 24px;
        height: 24px;
        background: $orange;
        border-radius: 50%;
        font-size: 14px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        width: 30px;
        height: 30px;
    }
}

.error-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    min-height: 100%;
    flex-direction: column;
    row-gap: 12px;
}

.cart-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    margin-top: 12px;
}

.cart-products {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.cart-product {
    padding: 12px;
    display: flex;
    border-bottom: 1px solid $light-blue;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
    column-gap: 12px;

    &:hover {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
    }
}

.cart-product-image {
    img {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
}

.cart-product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-product-price {
    display: flex;

    svg {
        height: 20px;
        width: 20px;
    }
}

.cart-product-count {
    display: flex;
    justify-content: center;
    align-items: center;

    .count {
        font-size: 26px;
        margin: 0 12px;
    }
}

.cart-form {
    flex: 0 0 30%;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    .form-group {
        display: flex;
        flex-direction: column;

        label {
            font-size: 16px;
            margin-bottom: 6px;
        }

        input {
            border: 1px solid $light-blue;
            padding: 12px;
            font-size: 14px;
        }
    }

    button {
        margin-top: 12px;
    }
}

.total-sum {
    font-size: 20px;
    display: flex;
    align-items: center;

    span {
        margin-left: 6px;
        font-weight: 700;
    }

    svg {
        width: 16px;
        height: 16px;
    }
}
